services:
  backend:
    image: {{ app_image_uri }}
    container_name: wordtamjeong-backend
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
